@font-face {
  font-family: 'mush';
  src:
    url('fonts/mush.ttf?fdz0u4') format('truetype'),
    url('fonts/mush.woff?fdz0u4') format('woff'),
    url('fonts/mush.svg?fdz0u4#mush') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'mush' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fruit:before {
  content: "\e900";
}
.icon-users:before {
  content: "\e972";
}
.icon-newspaper:before {
  content: "\e904";
}
.icon-books:before {
  content: "\e920";
}
.icon-save:before {
  content: "\e962";
}
.icon-plus:before {
  content: "\ea0a";
}
.icon-cancel-circle:before {
  content: "\ea0d";
}
.icon-cross:before {
  content: "\ea0f";
}
.icon-share2:before {
  content: "\ea82";
}
