.product-item {
  display: flex;
  height: 60px;
  background-color: #c6bbbe;
  margin: 15px;
  align-items: center;
}
mat-icon {
  margin-left: 15px;
  margin-right: 15px;
  font-size: 25px;
  color: #4a4e69;
}
