:host {
  height: 100%;
}
.app-main {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.app-body {
  height: 100%;
}
.app-footer {
  align-self: flex-end;
  display: flex;
  flex-direction: row;
  width: 100%;
}
.nav-button {
  flex: 0 50%;
  height: 35px;
  border: 1px solid;
  background-color: rgb(80, 80, 80);
  display: flex;
  justify-content: center;
}
