:host {
  height: 100%;
}
.app-main {
  display: flex;
  flex-direction: column;
  height: 99%;
  width: 100%;
}
.app-body {
  height: 99%;
  overflow: auto;
}
.app-footer {
  align-self: flex-end;
  display: flex;
  flex-direction: row;
  width: 100%;
}
.nav-button {
  flex: 0 50%;
  height: 42px;
  background-color: rgb(0, 124, 155);
  display: flex;
  justify-content: center;
}
