<div class="app-main">
  <div class="app-body">
    <app-new-order [hidden]="!showNew"></app-new-order>
    <app-order-list [hidden]="!showOrderList"></app-order-list>
    <app-product-list [hidden]="!showproductList"></app-product-list>
    <app-dealer-list [hidden]="!showdealerList"></app-dealer-list>
  </div>
  <div class="app-footer">
    <div class="icon-fruit"></div>
    <div class="nav-button new-order-nav" (click)="showNewScreen()">
      <mat-icon>add</mat-icon>
      <div>
        הזמנה
      </div>
    </div>
    <div class="nav-button order-list-nav" (click)="showOrderListScreen()">
      <mat-icon>storages</mat-icon>
    </div>
    <div class="nav-button product-list-nav" (click)="showproductListScreen()">
      <mat-icon>spa</mat-icon>
    </div>
    <div class="nav-button dealer-list-nav" (click)="showdealerListScreen()">
      <mat-icon>account_circle</mat-icon>
    </div>
  </div>
</div>