@import '~@angular/material/prebuilt-themes/indigo-pink.css';
/*https://coolors.co/22223b-4a4e69-888594-c6bbbe-f6f4f4*/
html {
  height: 100%;
}

body {
  height: 100%;
  width: 100%;
  background: #f6f4f4;
  margin: 0;
  padding: 0;
}
mat-icon {
  cursor: pointer;
}
